body{
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  color: #1d1d1d;
}

.wrap{
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  padding: 0 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

section.profit{
  background: #232324;
  padding: 15px 0;
}

section.profit .item{
  border: 3px solid #fff;
  background: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 400px;
}

section.profit .item .text{
  font-style: italic;
  text-align: left;
  flex-basis: 75%;
  flex-grow: 3;
  margin: 5px auto;
}

.img1{
  flex-basis: 25%;
  height: auto;
  flex-grow: 1;
}

@media screen and (max-width: 842px){
  .item{
    width: calc(100%-10px);
  }
  .item:nth-child(even){
    flex-direction: row-reverse;
  }
}

.wrap2{
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  padding: 0 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.profit2{
  background: #232324;
  padding: 15px 0;
}

section.profit2 .item2{
  border: 3px solid #fff;
  background: #fff;
  text-align: center;
}

section.profit2 .item2.text2{
  font-style: italic;
  text-align: left;
}

.article{
  max-width: 600px;
  padding: 5px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meta{
  background: #ddd;
  padding: 5px 0;
  overflow: hidden;
  font-size: 20px;
}

.cat{
  flex-grow: 1;
  margin-right: auto;
}

.dt{
  flex-grow: 1;
}

/*для адаптивности картинок*/
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  text-align: center;
  margin: 15px;
  width: : 500px;
}

.item2{
  text-align: center;
  margin: 15px;
  width: : 600px;
}

.item3{
  text-align: center;
  margin: 15px;
  width: : 600px;
  background: grey;
}

img{
  flex-basis: 300px;
  max-width: 100%;
  height: auto;
}

section{
  padding: 100px;
}

h3{
  font-style: italic;
  font-size: 42px;
  font-family: 'Palatino linotype','Book Antigua', serif;
}

h4{
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}
/*--------------header-------------*/
.main-header{
  background: url() center no-repeat;
  background: cover;
  height: 100vh;
  min-height: 600px;
  positive: relative;
}
